{
  "printWidth": 120, 
  "proseWrap": "preserve", 
  "tabWidth": 2, 
  "useTabs": false, 
  "semi": true, 
  "singleQuote": true, 
  "quoteProps": "as-needed", 
  "trailingComma": "none",
  "bracketSpacing": true, 
  "bracketSameLine": false, 
  "arrowParens": "always",
  "insertPragma": false, 
  "requirePragma": false,
  "htmlWhitespaceSensitivity": "ignore",
  "endOfLine": "auto"
}