/* 颜色 ------------------------------------------  */
$color-black: #111111;
$color-gray: #a9aeb8;
$color-blue: #004cff;
$color-red: #f56c6c;
$color-green: #00b578;
$color-yellow: #e6a23c;
$bg-color-gray: #f3f3f3;

/* 边框 ------------------------------------------  */
$border-color-gray-l: #e4e7ed;
$border-color-gray-d: #d4d7de;