@use './variables' as *;

.pre-block-wrapper {
  margin: 1em 0;
  overflow: hidden;
  background: $dark-bg;
  border-radius: 12px;
  .pre-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 14px;
    background: $dark-l-bg;

    .pre-lang {
      font-family: 'Fira Code', 'Consolas', monospace;
      font-size: 12px;
      font-weight: 500;
      color: $color-w;
    }
    .pre-copy-btn {
      font-size: 14px;
      color: $color-w;
      cursor: pointer;
      background-color: transparent;
      &:hover {
        color: #ffffff;
      }
    }
  }
}
