.user-container {
  display: flex;
  align-items: center;
  padding: 6px 9px 6px 6px;
  cursor: pointer;
  border-radius: 12px;
  &:hover {
    background-color: var(--surface-hover);
  }
  .user-info {
    flex: 1;
    overflow: hidden;
  }
  .user-avatar {
    border: 1px solid var(--border-subtle);
    border-radius: 50%;
  }
  .user-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
